<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Create an exercise</title>
		<script type="text/javascript" src="static/exerciseCreate.js"></script>
	</head>
	<body>
		<div class="exerciseCreate">
			<form action="/add_exercise" method="post">
				<header>Create an exercise!</header>
				<!-- Could be a scroll box with available workouts and also let custom entry? -->
				<div>
					<label for="createExercise">Exercise name</label>
					<input type="text" name="name">
				</div>
				{% for muscleGroup in muscleGroups %}
				<input type="checkbox" name="muscleGroups" value='{{ muscleGroup[0] }}'>{{ muscleGroup[1] }}</input>
				{% endfor %}
				<input type="submit">
			</form>	
		</div>
		<table>
			{% for exercise in exercises %}
			<tr>
				<td> {{ exercise[1] }}</td>
				<td> <input type='button' name='Update' value='Update'
					onclick="window.location = '/update_exercise/{{exercise[0]}}'"> </td>
				<td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_exercise/{{exercise[0]}}'"> </td>
			</tr>
			{% endfor %}
		</table>
		
	</body>
</html>
