<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Create an exercise</title>
		<script type="text/javascript" src="static/exerciseCreate.js"></script>
	</head>
	<body>
		<div class="exerciseCreate">
			<form action="/add_exercise" method="post">
				<header>Create an exercise!</header>
				<!-- Could be a scroll box with available workouts and also let custom entry? -->
				<div>
					<label for="createExercise">Exercise name</label>
					<input type="text" name="name">
				</div>
				{% for muscleGroup in muscleGroups %}
				<input type="checkbox" name="muscleGroups" value='{{ muscleGroup[0] }}'>{{ muscleGroup[1] }}</input>
				{% endfor %}
				<input type="submit">
			</form>	
		</div>
		</div>
		<div class="table">
			<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>Exercise Name</th>
				<th>Muscle Group</th>
				</tr>
			</thead>
			<tbody> 
				<tr>
				<td>1</td>
				<td>Bench Press</td>
				<td>Chest</td>
				<td>
					<form action="" method="post">
					<input type="submit" class="Update" value="Update">
					</form>
				</td>
					<form action="" method="post">
				<td><input type="submit" class="delete" value="Delete"></td>
				</form>
				</tr>
				<tr>
				<td>2</td>
				<td>Squats</td>
				<td>Legs</td>
				<td>
					<form action="" method="post">
					<input type="submit" class="Update" value="Update">
					</form>
				</td>
				<td>
				<form action="" method="post">
					<input type="submit" class="delete" value="Delete"></td>
				</form>
				</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>
