<!DOCTYPE html>
<html>
<head>
	<title>Muscle Groups</title>
	<meta charset="UTF-8"/>
</head>
<body>
  <div class="musclegroupAdd">
    <form action="/add_muscle_group" method="post">
      <div>
        <label for="name">Add a new muscle group</label>
        <input type="text" name="name">
      </div>
      <input type="submit">
    </form>	
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Muscle Groups</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td> {{ row[1] }}</td>
            <td> <input type='button' name='Update' value='Update'
              onclick="window.location = '/update_muscle/{{ row[0] }}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_muscle/{{row[0]}}'"> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>