<!DOCTYPE html>
<html>
<head>
	<title>Update Muscle</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<div>
	    	<table border=1>
		    <th>
		        <a href="workoutTracking" border=1>Enter your Workout</a>
		    </th>
		    <th>
		        <a href="displayUsers">Display Users</a>
		    </th>
		    <th>
		        <a href="userCreate">Create a user</a>
		    </th>
		    <th>
		        <a href="routineCreate">Create a routine</a>
		    </th>
		    <th>
		        <a href="routineSelect">Choose a routine for a user</a>
		    </th>
		    <th>
		        <a href="muscleGroupCreate">Create a muscle group</a>
		    </th>
		    <th>
		        <a href="exerciseCreate">Create an exercise</a>
		    </th>
		</table>
	</div>
<div class="updateMuscle">
	<form id="updateMuscle" action="/update_muscle/{{ muscle[0] }}" method="post">
		<header>Update muscle</header>
		<div>
			<input type="hidden" name="muscle_id" value="{{ muscle[0] }}">
		</div>
		<div>
			<label for="name">Name</label>
			<input type="text" name="name" value="{{ muscle[1] }}">
		</div>
		<input type="submit">
	</form>	
</div>

</body>
</html>