<!DOCTYPE html>
<html>
<head>
	<title>Select Routine</title>
	<meta charset="UTF-8"/>
</head>
<body>
  <div>
        <table border=1>
        <th>
            <a href="workoutTracking" border=1>Enter your Workout</a>
        </th>
        <th>
            <a href="displayUsers">Display Users</a>
        </th>
        <th>
            <a href="userCreate">Create a user</a>
        </th>
        <th>
            <a href="routineCreate">Create a routine</a>
        </th>
        <th>
            <a href="routineSelect">Choose a routine for a user</a>
        </th>
        <th>
            <a href="muscleGroupCreate">Create a muscle group</a>
        </th>
        <th>
            <a href="exerciseCreate">Create an exercise</a>
        </th>
    </table>
  </div>
<div class="routineSelect">
	<form>
		<header>Select a routine to follow</header>
		<div>
			<!-- Could be a scroll box with available routines and display them?-->
			<label for="chooseRoutine">Choose a routine!</label>
			<select id="chooseRoutine">
				<!-- populate options with js and display the option chosen somewhere? -->
				<option value="5/3/1">5/3/1</option>
				<option value="StrongLifts">StrongLifts</option>
				<option value="IceCream Fitness">IceCream Fitness</option>
				<option value="PPL">PPL</option>
		</div>
		<input type="submit">
	</form>
</div>
<div class="table">
    <table>
      <thead>
      <tr>
          <th>Routine Name</th>
          <th>Exercise Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Days</th>
        </tr>
      </thead>
      <tbody> 
        <tr>
          <td>5/3/1</td>
          <td>Bench Press</td>
          <td>3</td>
          <td>10</td>
          <td>150</td>
          <td>A</td>
        </tr>
        <tr>
          <td>5/3/1</td>
          <td>Squats</td>
          <td>3</td>
          <td>5</td>
          <td>200</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>