<!DOCTYPE html>
<html>
<head>
	<title>Select Routine</title>
	<meta charset="UTF-8"/>
</head>
<body>
  <div>
        <table border=1>
        <th>
            <a href="workoutTracking" border=1>Enter your Workout</a>
        </th>
        <th>
            <a href="displayUsers">Display Users</a>
        </th>
        <th>
            <a href="userCreate">Create a user</a>
        </th>
        <th>
            <a href="routineCreate">Create a routine</a>
        </th>
        <th>
            <a href="routineSelect">Choose a routine for a user</a>
        </th>
        <th>
            <a href="muscleGroupCreate">Create a muscle group</a>
        </th>
        <th>
            <a href="exerciseCreate">Create an exercise</a>
        </th>
    </table>
  </div>
<div class="routineSelect">
	<form action="/routineSelect" method="post">
		<header>Select a routine to see its contents!</header>
		<div>
      <label for="routineSelect">Choose a routine!</label>
      <select name='routineSelect'>
        {% for r in routines %}
        <option value='{{ r[0] }}' >{{ r[1] }}</option>
        {% endfor %}
      </select>
    </div>
		<input type="submit" value='Display'>
	</form>
</div>
<div class="table">
    <table>
      <thead>
      <tr>
          <th>Routine Name</th>
          <th>Exercise Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Days</th>
        </tr>
      </thead>
      <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[5] }}</td>
        <td> <input type='button' name='Update' value='Update'
            onclick="window.location = '/update_routine/{{r[0]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_routine/{{r[0]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="userRoutine">
  <form action="/add_userRoutine" method="post">
    <div>
      <label for="userName">Select a user to follow the routine below!</label>
      <select name='userName'>
        {% for u in users %}
        <option value='{{ u[0] }}' >{{ u[1] }} {{ u[2] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="userRoutine">Choose the routine!</label>
      <select name='userRoutine'>
        {% for r in routines %}
        <option value='{{ r[0] }}' >{{ r[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" value='Submit'>
  </form>
</div>
</body>
</html>