<!DOCTYPE html>
<html>
<head>
	<title>Create a routine</title>
	<meta charset="UTF-8"/>
</head>
<body>
  <div>
        <table border=1>
        <th>
            <a href="workoutTracking" border=1>Enter your Workout</a>
        </th>
        <th>
            <a href="displayUsers">Display Users</a>
        </th>
        <th>
            <a href="userCreate">Create a user</a>
        </th>
        <th>
            <a href="routineCreate">Create a routine</a>
        </th>
        <th>
            <a href="routineSelect">Choose a routine for a user</a>
        </th>
        <th>
            <a href="muscleGroupCreate">Create a muscle group</a>
        </th>
        <th>
            <a href="exerciseCreate">Create an exercise</a>
        </th>
    </table>
  </div>
<div class="routineCreate">
  <form action="/create_routine" method="post">
    <header>Create a routine!</header>
    <div>
      <label for="routineName">Enter a name for the routine!</label>
      <input type="text" name="routineName">
    </div>
    <input type="submit">
  </form> 

<div class="routineAdd">
	<form action="/add_routine" method="post">
		<header>Once you create the routine above, select the routine and use the below to add exercises!</header>
		<!-- Could be a scroll box with available workouts and also let custom entry? -->
		<div>
      <label for="routineSelect">Choose a routine!</label>
      <select name='routineSelect'>
        {% for r in routines %}
        <option value='{{ r[0] }}' >{{ r[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="exerciseName">Choose an exercise!</label>
      <select name='exerciseName'>
        {% for e in exercises %}
        <option value='{{ e[0] }}' >{{ e[1] }}</option>
        {% endfor %}
      </select>
    </div>
		<div>
			<label for="sets">Sets</label>
			<input type="number" name="sets" min='1'>
		</div>
		<div>
			<label for="reps">Reps</label>
			<input type="number" name="reps" min='1'>
		</div>
		<div>
			<label for="Days">Days</label>
			<input type="text" name="days">
		</div>
		<input type="submit">
	</form>	
</div>
<div class="table">
    <table>
      <thead>
      <tr>
          <th>Routine Name</th>
          <th>Exercise Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Days</th>
        </tr>
      </thead>
      <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[5] }}</td>
        <td> <input type='button' name='Update' value='Update'
            onclick="window.location = '/update_people/{{r[0]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_people/{{r[0]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</body>
</html>