<!DOCTYPE html>
<html>
<head>
	<title>Create user Profile</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<div>
	<table border=1>
	<th>
		<a href="workoutTracking" border=1>Enter your Workout</a>
	</th>
	<th>
		<a href="displayUsers">Display Users</a>
	</th>
	<th>
		<a href="userCreate">Create a user</a>
	</th>
	<th>
		<a href="routineCreate">Create a routine</a>
	</th>
	<th>
		<a href="routineSelect">Choose a routine for a user</a>
	</th>
	<th>
		<a href="muscleGroupCreate">Create a muscle group</a>
	</th>
	<th>
		<a href="exerciseCreate">Create an exercise</a>
	</th>
</table>
</div>
<div class="userCreate">
	<form id="createUser" action="/add_user" method="post">
		<header>Create your user profile!</header>
		<div>
			<label for="first_name">First name</label>
			<input type="text" name="first_name">
		</div>
		<div>
			<label for="last_name">Last name</label>
			<input type="text" name="last_name">
		</div>
		<div>
			<label for="height">Height (Feet)(Inches)</label>
			<input type="number" name="feet">
			<input type="number" name="inches">
		</div>
		<div>
			<label for="weight">Weight (lbs)</label>
			<input type="number" name="weight">
		</div>
		<div>
			<label for="dob">Date of Birth</label>
			<input type="date" name="dob">
		</div>
		<div>
			<label for="gender">Gender</label>
			<input type="text" name="gender">
		</div>
		<input type="submit">
	</form>	
</div>
</body>
</html>