<!DOCTYPE html>
<html>
<head>
	<title>Create user Profile</title>
	<meta charset="UTF-8"/>
</head>
<body>
<div class="userCreate">
	<form id="createUser" action="/userCreate" method="post">
		<header>Create your user profile!</header>
		<div>
			<label for="first_name">First name</label>
			<input type="text" name="first_name">
		</div>
		<div>
			<label for="last_name">Last name</label>
			<input type="text" name="last_name">
		</div>
		<div>
			<label for="height">Height (Feet)(Inches)</label>
			<input type="number" name="feet">
			<input type="number" name="inches">
		</div>
		<div>
			<label for="weight">Weight (lbs)</label>
			<input type="number" name="weight">
		</div>
		<div>
			<label for="dob">Date of Birth</label>
			<input type="date" name="dob">
		</div>
		<div>
			<label for="gender">Gender</label>
			<input type="date" name="gender">
		</div>
		<input type="submit">
	</form>	
</div>
</body>
</html>