<!DOCTYPE html>
<html>
<head>
	<title>Track Workout</title>
	<meta charset="UTF-8"/>
</head>
<body>
  <div>
        <table border=1>
        <th>
            <a href="workoutTracking" border=1>Enter your Workout</a>
        </th>
        <th>
            <a href="displayUsers">Display Users</a>
        </th>
        <th>
            <a href="userCreate">Create a user</a>
        </th>
        <th>
            <a href="routineCreate">Create a routine</a>
        </th>
        <th>
            <a href="routineSelect">Choose a routine for a user</a>
        </th>
        <th>
            <a href="muscleGroupCreate">Create a muscle group</a>
        </th>
        <th>
            <a href="exerciseCreate">Create an exercise</a>
        </th>
    </table>
  </div>
<div class="workoutTracking">
	<form action="/add_workout" method="post">
		<header>Enter your exercise!</header>
		<!-- Could be a scroll box with available workouts and also let custom entry? -->
		<div>
			<label for="exerciseName">Choose an exercise!</label>
			<select name='exerciseName'>
        {% for e in exercises %}
        <option value='{{ e[0] }}' >{{ e[1] }}</option>
        {% endfor %}
      </select>
		</div>
    <div>
      <label for="userName">Select which user to add this workout for!</label>
      <select name='userName'>
        {% for u in users %}
        <option value='{{ u[0] }}' >{{ u[1] }} {{ u[2] }}</option>
        {% endfor %}
      </select>
    </div>
		<div>
			<label for="sets">Sets</label>
			<input type="number" name="sets">
		</div>
		<div>
			<label for="reps">Reps</label>
			<input type="number" name="reps">
		</div>
		<div>
			<label for="weight">Weight</label>
			<input type="number" name="weight">
		</div>
		<div>
			<label for="date">Date</label>
			<input type="date" name="date">
		</div>
		<input type="submit">
	</form>	
</div>
<div class="table">
    <table>
      <thead>
      <tr>
          <th>Exercise Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[5] }}</td>
        <td> <input type='button' name='Update' value='Update'
            onclick="window.location = '/update_workout/{{r[0]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_workout/{{r[0]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>