<!DOCTYPE html>
<html>
<head>
	<title>Track Workout</title>
	<meta charset="UTF-8"/>
</head>
<body>
<div class="workoutTracking">
	<form action="" method="post">
		<header>Enter your exercise!</header>
		<!-- Could be a scroll box with available workouts and also let custom entry? -->
		<div>
			<label for="workoutName">Choose an exercise!</label>
			<input type="text" name="workoutName">
		</div>
		<div>
			<label for="sets">Sets</label>
			<input type="number" name="sets">
		</div>
		<div>
			<label for="reps">Reps</label>
			<input type="number" name="reps">
		</div>
		<div>
			<label for="weight">Weight</label>
			<input type="number" name="weight">
		</div>
		<div>
			<label for="date">Date</label>
			<input type="date" name="date">
		</div>
		<input type="submit">
	</form>	
</div>
<div class="table">
    <table>
      <thead>
      <tr>
          <th>Exercise Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody> 
        <tr>
          <td>Bench Press</td>
          <td>3</td>
          <td>10</td>
          <td>150</td>
          <td>1/1/2019</td>
          <td>
            <form action="" method="post">
              <input type="submit" class="Update" value="Update">
            </form>
          </td>
            <form action="" method="post">
          <td><input type="submit" class="delete" value="Delete"></td>
           </form>
        </tr>
        <tr>
          <td>Squats</td>
          <td>3</td>
          <td>5</td>
          <td>200</td>
          <td>1/1/2019</td>
          <td>
            <form action="" method="post">
              <input type="submit" class="Update" value="Update">
            </form>
          </td>
          <td>
           <form action="" method="post">
          	<input type="submit" class="delete" value="Delete"></td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>